
@{
    ViewBag.Title = "Incelenen";
    Layout = "~/Views/Shared/_LayoutMuhasebe.cshtml";
}

<h2>Incelenen</h2>

<div>
    @foreach (var evrak in ViewBag.evraklar)
    {
        using (Html.BeginForm("Incelenen", "Muhasebe", FormMethod.Post))
        {
            <div class="card">
                <div class="card-header">
                    <input type="hidden" id="evrakId" name="evrakId" value="@evrak.evrakId" />
                    @evrak.evrakAd
                </div>
                <div class="card-body">
                    <a href="@evrak.evrakYol">Belgeyi İncele</a>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-danger" name="btnHatali">Hatalı</button>
                    <button type="submit" class="btn btn-outline-success" name="btnBasarili">Başarılı</button>
                </div>
            </div>

        }
    }
</div>